<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateEventTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                   
                    <h:outputLabel value="#{bundle.CreateEventLabel_date}" for="date" />
                    <h:inputText id="date" value="#{eventController.selected.date}" title="#{bundle.CreateEventTitle_date}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                  
                    
                    <h:outputLabel value="#{bundle.CreateEventLabel_time}" for="time" />
                    <h:inputText id="time" value="#{eventController.selected.time}" title="#{bundle.CreateEventTitle_time}" >
                        <f:convertDateTime pattern="HH:mm:ss" />
                    </h:inputText>
                   
                    
                    <h:outputLabel value="#{bundle.CreateEventLabel_planning}" for="planning" />
                    <h:inputText id="planning" value="#{eventController.selected.planning}" title="#{bundle.CreateEventTitle_planning}" required="true" requiredMessage="#{bundle.CreateEventRequiredMessage_planning}"/>
                   
                    
                    <h:outputLabel value="#{bundle.CreateEventLabel_address}" for="address" />
                    <h:inputText id="address" value="#{eventController.selected.address}" title="#{bundle.CreateEventTitle_address}" />
                    
                    
                    <h:outputLabel value="#{bundle.CreateEventLabel_info}" for="info" />
                    <h:inputTextarea id="info" value="#{eventController.selected.info}" title="#{bundle.CreateEventTitle_info}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{eventController.create}" value="#{bundle.CreateEventSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{eventController.prepareList}" value="#{bundle.CreateEventShowAllLink}" immediate="true"/>
                <br />
                <br />
                
            </h:form>
        </ui:define>
    </ui:composition>

</html>
